@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  body {
    @apply bg-neutral-900;
  }
}

@layer components {
  .container {
    @apply max-w-[1000px] w-5/6 mx-auto;
  }

  .text-input {
    @apply p-2 px-4 rounded bg-neutral-800 text-neutral-100 placeholder:text-neutral-500;
  }

  .button {
    @apply p-2 rounded cursor-pointer transition;
  }

  .label {
    @apply py-1 px-2 rounded;
  }
}
