@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  body {
    @apply bg-neutral-900;
  }

  .text-input {
    @apply p-2 rounded bg-neutral-800 text-neutral-100 placeholder:text-neutral-500;
  }

  .button {
    @apply p-2 rounded cursor-pointer transition;
  }
}
